{% extends 'base.html' %}
{% import "include/_macros.html" as macros %}

{% block content %}
    <div class="box">
        <div>
            <form  method="POST" action="/user_delete">
                <div>
                    <input id="inputlogintoregister" type="submit" name="button" value="删除所选项目" style="display:inline" >
                    <table  class="table" border="1" cellspacing="0">
                        <tr>
                            <th>选择</th>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>角色</th>
                            <th>地址</th>
                            <th>关于</th>
                            <th>信息修改</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                            <th><input name="user" type="checkbox" value="{{ user.id|safe }}"/></th>
                            <th><p>{{ user.id|safe }}</p></th>
                            <th><p>{{ user.username|safe }}</p></th>
                            <th><p>{{ user.email|safe }}</p></th>
                            <th><p>{{ user.itsrole.name|safe }}</p></th>
                            <th><p>{{ user.location|safe }}</p></th>
                            <th><p>{{ user.about_me|safe }}</p></th>
                            <th><p><a href="{{ url_for('main.edit_profile_admin', id = user.id) }}">修改信息</a></p></th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </form>
        </div>
    </div>  
{% endblock %}